body {
  padding: 0;
  margin: 0;
}

.login-container {
  height: 100vh;
  background-color: #eaf5ff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  border: 1px solid #cacaca;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 550px;
}

.login-form label {
  font-weight: 500;
  font-size: 1rem;
}

.login-form input {
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  height: 3rem;
}

.login-form a {
  font-size: 0.8rem;
  color: #1166c7;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #09A860;
  font-weight: bold;
  color: white;
}

.login-btn:hover {
  background-color: #028333;
  color: white;
}

/* DASHBOARD  */

.sidebar {
  width: 350px;
  background-color: #fff;
  padding: 20px 15px;
  border-right: 1px solid #ddd;
}

.nav-buttons {
  width: 100%;
}

.nav-btn {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding: 1.2rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #006400;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.nav-btn:hover {
  background-color: #e9f5ee;
}

.nav-btn.logout {
  color: #cc3636;
}

.nav-btn.logout:hover {
  background-color: #ffe5e5;
}

.icon {
  font-size: 1.5rem;
}

.main-panel {
  background-color: #dcf4fd;
}


.dashboard-header h2 {
  color: #008000;
}

 .search-bar {
  width: 300px;
 }

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #116600;
}

.add-delivery{
  background-color: #008f4c;
  color: white;
  border: none;
}
